<div class="starter-template">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <button type="button" class="btn btn-primary" ng-click="gerarGraficos();" ng-disabled="!bulls.length > 1">
          <em class="glyphicon glyphicon-signal"></em><span class="hidden-xs">&nbsp;&nbsp;Gráficos de bois</span>
        </button>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-sm-6">
        <div id="chartPie" style="height: 300px; width: 100%;"></div>
      </div>
      <div class="col-sm-6">
        <div id="chartRow" style="height: 300px; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>