<div class="starter-template">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-6 col-xs-5">
				<input type="text" class="form-control" ng-model="expressao" placeholder="Expressão de consulta"/>
			</div>
		</div>
		<br />
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th class="text-center table-brinco">Brinco</th>
					<th class="text-center" style="width: 150px">Nascimento</th>
					<th class="text-center" style="width: 150px">Abatimento</th>
					<th class="text-center" style>Primeira Pesagem</th>
					<th class="text-center">Ultima Pesagem</th>
					<th class="text-center table-total" style="width: 190px">Evolução</th>
					<th class="text-center" style="width: 100px">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="obj in bulls | orderBy: earring | filter:expressao">
					<td class="table-brinco">{{obj.earring}}</td>
					<td class="table-brinco" style="width: 150px">{{nascimento(obj.birthday || 0)}}</td>
					<td class="table-brinco" style="width: 150px">{{nascimento(obj.slaughter || 0)}}</td>
					<td class="text-center">{{obj.weighings[0].weight.toFixed(2) || '0.00'}}</td>
					<td class="text-center">{{obj.weighings[obj.weighings.length - 1].weight.toFixed(2) || '0.00'}}</td>
					<td class="table-total" style="width: 190px">
						{{mergeDay(mergeDate(obj.weighings[0].createdAt || 0), mergeDate(obj.weighings[obj.weighings.length - 1].createdAt || 0))}} Dias -
						{{evolucao(obj.weighings[0].weight || 0, obj.weighings[obj.weighings.length - 1].weight || 0)}}</td>
					<td class="text-center">
						<button type="button" class="btn btn-danger btn-xs" ng-click="reviverBoi(obj, $index)">Reviver</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>