<div class="starter-template">
	<div class="col-sm-12">
		<div class="row">
			<button type="button" class="btn btn-primary" ng-click="gerarPDF()">
				<em class="glyphicon glyphicon-file"></em>&nbsp;&nbsp;Gerar PDF
			</button>
		</div>
		<br />	
		<table class="table table-bordered table-condensed">			
			<thead>
				<tr>
					<th class="text-center">#</th>
					<th class="text-center">Brinco</th>
					<th class="text-center">Data de Nascimento</th>
					<th class="text-center">Situação</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="obj in bulls | orderBy: 'earring'">
					<td>{{$index + 1}}</td>
					<td>{{obj.earring}}</td>
					<td>{{nascimento(obj.birthday)}}</td>
					<td>{{situacao(obj.status)}}</td>					
				</tr>
			</tbody>
		</table>
	</div>	
</div>