<div class="starter-template">
	<div class="col-sm-6">
		<div class="form-group" style="text-align: left">
   		<label class="pull-left">Brinco</label>
  		<select ng-model="earring" style="width: 100%" class="pull-left" ui-select2="configearring" ng-click="pesquisar(earring)" ng-disabled="bulls.length < 1 || showview">
        <option value="0">Selecione</option>
        <option ng-show="obj.status == 1" ng-repeat="obj in bulls" value="{{obj.id}}">{{obj.earring}}</option>
      </select>
	 	</div>
	</div>
	<div class="col-sm-12">
		<br />
		<table class="table table-bordered table-condensed" ng-repeat="obj in bull">
			<thead>
				<tr>
					<th class="text-center table-brinco">Brinco</th>
					<th class="text-center">Pesagens</th>
					<th class="text-center table-total">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="table-brinco">{{obj.earring}}</td>
					<td class="text-center td-pesagem">
						<table class="table table-bordered table-condensed table-pesagem" ng-repeat="pesos in obj.weighings" >
							<thead>
								<tr>
									<th class="text-center">{{mergeDate(pesos.createdAt)}}</th>
									<th ng-show="$index > 0" class="text-center"><em class="glyphicon glyphicon-stats"></em>
										&nbsp;&nbsp;{{mergeDay(mergeDate(obj.weighings[$index - 1].createdAt), mergeDate(obj.weighings[$index].createdAt))}} Dias</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">{{pesos.weight.toFixed(2)}}</td>
									<td ng-show="$index > 0" class="text-center">{{evolucao(obj.weighings[$index - 1].weight, obj.weighings[$index].weight)}}</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td class="table-total">{{evolucao(obj.weighings[0].weight || 0, obj.weighings[obj.weighings.length - 1].weight || 0)}}</td>
				</tr>
			</tbody>
		</table>
		<br />
		<table class="table table-bordered table-condensed" ng-show="bull[0].weighings.length > 0">
			<thead>
				<tr>
					<th class="text-center">Data</th>
					<th class="text-center">Pesagem</th>
					<th class="text-center" style="width: 100px">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="obj in bull[0].weighings">
					<td class="text-center">{{mergeDateComplete(obj.createdAt)}}</td>
					<td class="text-center">{{obj.weight}}</td>
					<td class="text-center" style="width: 100px">
						<button type="button" class="btn btn-danger btn-xs" ng-click="excluir(obj, $index)">Excluir</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>