<div class="starter-template">
	<div class="col-sm-6">
		<div class="form-group" style="text-align: left">
   		<label class="pull-left">Brinco</label>
  		<select ng-model="earring" style="width: 100%" class="pull-left" ui-select2="configearring">
        <option value="0">Selecione</option>
        <option ng-repeat="obj in bulls" value="{{obj.id}}">{{obj.earring}}</option>
      </select>
	 	</div>
 		<div class="form-group" style="margin-top: 70px">
   		<label class="pull-left">Peso</label>
  		<input type="text" class="form-control" placeholder="Peso" id="peso">
 		</div>
 		<div class="pull-left">
			<button type="button" class="btn btn-success" ng-click="ok()">
				<em class="glyphicon glyphicon-ok"></em>&nbsp;&nbsp;Salvar
			</button>
		</div>
	</div>
</div>