<div class="starter-template">
	<div class="col-sm-6">
		<div class="form-group">
   		<label class="pull-left">Brinco</label>
  		<input type="text" class="form-control" placeholder="Número do brinco" id="brinco"/>
	 	</div>
 		<div class="form-group">
   		<label class="pull-left">Peso</label>
  		<input type="text" class="form-control" placeholder="Peso" id="peso">
 		</div>
 		<div class="pull-left">
			<button type="button" class="btn btn-success" ng-click="ok()">
				<em class="glyphicon glyphicon-ok"></em>&nbsp;&nbsp;Salvar
			</button>			
		</div>		
	</div>	
</div>