<div>

    <h2>Weighings</h2>

    <script type = "text/ng-template" id="weighing-save.html">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty"
                      ng-submit="ok()">

                    <div class="modal-header">
                        <button type="button" class="close"
                                ng-click="cancel()">&times;</button>
                        <h4 class="modal-title" id="myWeighingLabel">Create or edit a Weighing</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="weighing.id" readonly>
                        </div>

                        
                        <div class="form-group">
                            <label>weight:</label>
                            
                            <input type="number" step="any" class="form-control" name="weight"
                                   ng-model="weighing.weight" ng-required="true"
                                   />
                            <span class="error" ng-show="form.weight.$error.min">Must be greater than or equal to .</span>
                            <span class="error" ng-show="form.weight.$error.max">Must be less than or equal to .</span>
                        </div>
                        
                        <div class="form-group">
                            <label>earring:</label>
                            
                            <input type="number" class="form-control" name="earring"
                                   ng-model="weighing.earring" ng-required="true"
                                   />
                            <span class="error" ng-show="form.earring.$error.min">Must be greater than or equal to .</span>
                            <span class="error" ng-show="form.earring.$error.max">Must be less than or equal to .</span>
                        </div>
                        

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </script>

    <button class="btn btn-primary btn-lg" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Weighing
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                
                <th>weight</th>
                
                <th>earring</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="weighing in weighings">
                <td>{{weighing.id}}</td>
                
                <td>{{weighing.weight }}</td>
                
                <td>{{weighing.earring }}</td>
                
                <td>
                    <button type="submit"
                            ng-click="update(weighing.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(weighing.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
